.table {
    padding: 1em;
}

h2 {
    font: normal medium 32px/13px Roboto;
    color: #4D4F5C;
    margin: 1em 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    border-collapse: collapse;
    background: rgba(191, 168, 236, 0.25);
    font: normal normal medium 14px/19px Roboto;
}

th, td {
    text-align: left;
    padding: 16px;
    color: #404B69;
}

td, th{
    border: 1px solid #ddd;
}
